
.companyBrand {
    font-size: 40px;
}


/*--------------------------------------Custom Navbar-------------------------------------------------*/

.custom-navbar {
    /* background-color: #123456 !important; */
    background-color: #ff8000 !important;
    /* Example background color for the navbar */
}

.custom-navbar .navbar-toggler {
    border-color: #ffcc00 !important;
    /* Change border color of the hamburger icon */
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffcc00' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change the color of the hamburger icon lines */
}
.darkBody h1, .darkBody h2, .darkBody h3, .darkBody h4, .darkBody h5,
.darkBody p{
    font-family: century gothic !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .menuDropdown{
    background-color: #000 !important;
  }