* {
    font-weight: bolder;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    overflow-y: scroll;
    background-color: #fff;
}

.loader {
    background-image: url('components/images/loading.gif');
    background-repeat: no-repeat;
    height: 50px;
    background-size: 40px;
    width: 50px;
}

h1 {
    font-size: 80px;
    margin: 0px !important;
    padding: 0px !important;
}

h2 {
    font-size: 50px !important;
}

h3 {
    font-size: 30px !important;
}

h4 {
    font-size: 20px !important;

}

h5 {
    font-size: 15px !important;

}

.customDatePickerWidth,
.customDatePickerWidth>div.react-datepicker-wrapper,
.customDatePickerWidth>div>div.react-datepicker__input-container .customDatePickerWidth>div>div.react-datepicker__input-container input {
    width: 100%;
}

small {
    margin: 0px !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bolder;
}

btn,
button {
    padding: 10px !important;
    border-radius: 30px;
    /* min-width: 100px ; */
    font-weight: bolder !important;
}

/* .btnSmall{
    width: 20px !important;
    background-color: transparent;
    text-align: left;
} */
.smallRound {
    border-radius: 6px !important;
    font-size: 12px !important;
    padding: 7px !important;
}

.optCol button {
    min-width: auto !important;
}

.padd {
    padding: 30px !important;
}


.table tr td {
    font-size: 13px;
    padding: 4px !important;
    font-weight: bolder;


}

.table-hover tbody tr:hover {
    /* background-color: #b6d6b6; */
    /* Change this to your desired color */
    border-bottom: 2px solid #00ff2f;

}

.table thead td,
.databtablehead {
    background-color: #021e2b !important;
    color: #f4f6f7;
}

.table tbody td {
    color: #000000 !important ;
    font-weight: bolder !important;
    padding: 10px;
}

.optCol {
    max-width: 50px;
}

.delIcon {
    width: 20px;
    height: 20px;
    background-image: url(../imgz/delete.png);
    background-repeat: no-repeat;
    background-size: 70%;
}

/* Printings Styles */
@media print {

    *,
    body,
    .dataTable,
    .dataTable .dataTable tr td {
        font-size: 12px;
    }

    .dataTable {

        margin-left: "60px";
    }

    .DataTableBox,
    .dataTable {
        padding-left: 20px;
        padding-right: 50px;
        margin-top: 0px;
    }

    .printHeaderBoxParent,
    .printHeaderBoxParent * {
        display: block;

    }

    .dataTable .delButton {
        display: none;
    }

}


/* End printings */










/* Form */




.logoutBtn {}


.navbar-nav>li {
    padding-left: 20px;
    padding-right: 30px;
}


.banner_widgets,
.widget_item,
.banner_widgets::before {
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;

}


.banner_widgets::before {
    background-color: #000;
    opacity: .5;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid #fff;


}

.widget_item {

    box-shadow: 0px 0px 4px #000;
    border: 1px solid #fff;
    background-color: rgb(255, 85, 0);
    min-height: 100px;
    font-size: 12px;
    z-index: 2;
}

.widget_item h6,
.widget_item .btn,
.widget_item a {
    font-size: 13px;
    ;
}


.imagesize {
    height: 900;
    width: 100%;
}

/* Solution component */

.compSolutions {}

.IconTitle {
    font-size: 16px;
    font-weight: bold;
    color: #415f66;
    padding: 10px 20px;
}

.compSolutions .IconTitle span {
    text-align: center;
    display: block;
    color: #000;
    font-size: 17px;
}

.compSolutions .IconTitle p {
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 14px;
}



/*Footer*/
.footer a {
    font-weight: bolder;
    color: #2ccdf5;
}

.footerLogo {
    height: 150px;
    width: 150px;
    background-image: url(../imgz/Logo.jpg);
    border-radius: 100%;
    border: 1px solid #2ccdf5;
    box-shadow: 0px 0px 5px #000;
    background-position-x: 10px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 90%;

}

.footerAddress {
    font-size: 12px;
    text-align: left;
}

.footer ul li {
    text-align: left;
    line-height: 2em;
    ;
}

.footer .copyright {
    background-color: #05161e;
}

.pageWrapper {
    /* background-image: url(../imgz/bgdev.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background-color: #ffffff;



}

/* This is the styled scrollbar for any component */
.styledVHScrollBar {
    position: relative;
}

.styledVHScrollBar::-webkit-scrollbar {
    width: 7px;
    border-top: 5px;
    border-bottom: 5px;
}

.styledVHScrollBar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.styledVHScrollBar::-webkit-scrollbar-thumb {
    background: #888;
    background-color: #045ee6;
    border-top: 5px;
    border-bottom: 5px;
}

.styledVHScrollBar::-webkit-scrollbar-thumb:hover {
    background: #555;
    background-color: #045ee6;
}




.pageWrapper::-webkit-scrollbar {
    width: 7px;
    border-top: 5px;
    border-bottom: 5px;
}

.pageWrapper ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.pageWrapper::-webkit-scrollbar-thumb {
    background: #888;
    background-color: #045ee6;
    border-top: 5px;
    border-bottom: 5px;
}





.navContainer a,
.navContainer i {
    color: #f6f7f8;
}















/* Downloads */

.appNames ul li {
    line-height: 2em;
}






@media only screen and (max-width: 992px) {

    button,
    .btn {
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 767px) {

    .container,
    .col,
    .container-fluid {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

}


.noBoldedHeaders {
    text-shadow: none !important;
}

.bounce {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-top: -25px;
    margin-left: -25px;
    height: 50px;
    width: 50px;
    background: red;
    -webkit-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
    0% {
        bottom: 5px;
    }

    25%,
    75% {
        bottom: 15px;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 0;
    }
}

.modallargeContent {
    height: 80vh;

    overflow-y: scroll;
}

.generalButtons {
    background-color: #470343 !important;
    padding: 4px !important;
    font-size: 12px !important;
    color: #fff !important;
    font-weight: bold !important;
}

.fewLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.fewLines_6Lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.OneLine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 13rem;
}

.subMenulink {
    box-shadow: none !important;
    color: #061322 !important;
    font-size: 13px;
    font-weight: bolder;
}

.subMenulink:hover {
    background-color: #1377ad !important;
    color: #fff;
}

.page-item,
.page-item a {
    background-color: #233148 !important;
    border: 1px solid #1a2338 !important;
    border-right: transparent 1px solid !important;
    color: #2467ba !important;
}






/* ---------------------------- The below are the events for navbar, we want to sho the nav as we scroll up*/
.navbar {
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
}



.g {
    color: #46210b;
    color: #2e3d4e;
    color: #ffae00;
}

/*  ----------------------------- header----------------------------------- */
.header {
    height: 90vh;
    /* background-color: #000; */
    background-image: url(./components/images/restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.header h1 {
    /* text-shadow: -1px -1px #fff, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important; */
}

.slidepane {
    background-color: #3e66dc;
    font-weight: bolder;
    border: 3px solid #fff;


    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.header .continue {
    background-color: transparent;
    height: auto;
    border: none;
    display: inline;
    color: #000;
}
.menu-item {
    margin-right: 20px; /* Adjust spacing as needed */
  }



/*------------------------------ End Header ------------------------------*/
.modalStyle {
    background-color: #ffffff !important;
}

.gen_btn {
    padding: 15px;
    background-color: #ff3c00 !important;
    border-radius: 30px;
    margin: 5px;
    border: 2px solid #fff !important;
    color: #fff !important;
}

.button_skin2 {
    background-color: #0f340b !important;
}

.button_skin3 {
    background-color: #0d3344 !important;
}

.button_skin4 {
    background-color: #00aeff !important;
}

.small_padd {
    padding: 5px !important;
}

.width_auto {
    min-width: auto !important;
}

.small_width {
    max-width: 80px !important;
    height: 80px !important;
}

.allround_border {
    border-radius: 100% !important;
}


/* --------------------Tabs  -------------------*/

.custom-tabs .nav-item {
    margin-right: 10px;
}

.custom-tabs .nav-link {

    border: 1px solid #72a2d3;
    /* Border color */
    color: #000;
    /* Text color */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-tabs .nav-item:nth-child(1) .nav-link {
    background-color: #3ffb7a !important;
    /* Light background */
}

.custom-tabs .nav-item:nth-child(2) .nav-link {
    background-color: #b7ff28 !important;
    /* Light background */
}

.custom-tabs .nav-item:nth-child(3) .nav-link {
    background-color: #4975e3 !important;
}

.custom-tabs .nav-item:nth-child(43) .nav-link {
    background-color: #e3497f !important;
}

.custom-tabs .nav-link:hover {
    background-color: #e9ecef;
    /* Hover background */
    border-color: #007bff;
    /* Border color on hover */
}

.custom-tabs .nav-link.active {
    background-color: #007bff;
    /* Active tab background */
    color: #fff;
    /* Active tab text color */
    border-color: #007bff;
    /* Active tab border */
}

.custom-tabs .nav-link:focus {
    outline: none;
    box-shadow: none;
}

/*-------------------- End tabs ----------------*/



table td {
    padding: 3px !important;
    font-size: 14px;
}

.beerskin1 {
    color: #00d3f8;
}

.beerskin2 {
    color: #40870a;
}

.beerskin3 {
    color: #a3110c;
}

.beerskin4 {
    color: #ea00ff;
}

.appSkin1 {
    background-color: #6e3000;
}

.cashCol2 {
    background-color: #daffdd !important;
}


.g {
    background-color: #00d3f8;
}



/* --------------------------------Login ----------------------------- */

.loginBg,
.formPane,
.loginBgEbeulah {
    background-color: #caece1 !important;
    /* background-image: url('components/images/login/guiness-removebg.png'); */
    background-image: url('components/images/login/loginbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loginBgEbeulah {
    background-image: url('components/images/login/loginBgEbeulah.jpg');
    background-size: 100%;
}

.loginPaneEbeulah {}


.loginBox {
    border: 1px solid #683319;
    color: #fff;
}
.cursor-pointer {
    cursor: pointer;
    user-select: none;
  }

.bouncing-ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    /* background-color: red !important; */
}

.dropdown-menu .nav-link {
    background-color: #ffffff;
    color: #824920;
}



/* -----------------Start Dashboard --------------------- */
.pane {
    border: 5px solid #f5e3d8;
    box-shadow: 0px 0px 30px #fff;
    background-color: #ffffff;
}

.doubleborder {
    border: 3px solid #ff5900;
    border-style: dashed;
}

.purchaseBg {
    background-color: #fffc4d;
}

.salesBg {
    background-color: #00ffa2;
}

.expenseBg {
    background-color: #f1a7a7;
}

.dashboardLink {
    display: inline !important;
    font-size: 16px !important;
}

/* -----------------End Dashboard --------------------- */

.cashCol {
    background-color: #0fc73a !important;
    color: #fff !important;
}

.grandTotal {
    font-size: 40px;
}

.grandTotal2 {
    font-size: 20px;
}

/* ----------------------------------------------------------Multiple items ------------------------*/
.multipleItemBox {
    height: 70vh;
    overflow-y: scroll;
}

.multipleItemBox .board {
    position: relative;
    background-color: #f6f6f5;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #000;
    border-radius: 8px;

}

.multipleItemBox .singleItem {
    background-color: #ffffff;
    box-shadow: inset 0px 0px 1px #000;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #dd872a;
}

.topmenu {
    position: relative;

}

.topmenu .buttons {
    position: absolute;
    top: 0px;
    right: 5px;
}

.smallpad {
    padding: 2px !important;
    font-size: 12px;
    height: 25px !important;
    border: none !important;
}

.multipleItemBox .txt {
    border: none;
    border-bottom: 1px solid #84bbfe !important;
}

.bill {
    box-shadow: 0px 0px 1px #000;
    width: 240px;
    min-height: 600px;
    padding: 15px;
    position: fixed;
    top: 12%;
    background-color: #fff;
    font-size: 12px;
    margin-top: 50px;
    min-height: 380px;
}

.billContent {
    min-height: 350px;
    position: inherit;
    padding: 145px;
    width: calc(100% - 30px);
}

.printBtn {
    position: fixed;
    top: 10%;
}

/* This animation is first used on the bill page*/
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        /* Element starts off above the viewport */
        opacity: 0;
        /* Fully transparent at the start */
    }

    100% {
        transform: translateY(0);
        /* Element slides to its original position */
        opacity: 1;
        /* Fully visible at the end */
    }
}

/* Applying the slide-down animation */
.slide-down {
    animation: slideDown 3s ease-in-out;
    /* Adjust duration as needed */
    animation-fill-mode: forwards;
    /* Ensures the animation stays at its final position */
}

/* ----------------------------------------------------------Multiple items ------------------------*/


/*----------------------------------customizing the confirm alert -------------------------*/
/* .custom-confirm-dialog {
    background-color: #f40606;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    max-width: 100%;
  } */

.custom-confirm-title {
    font-size: 20px !important;
    font-weight: bold;
    color: #333;
}

.custom-confirm-message {
    font-size: 16px !important;
    margin-top: 10px;
    color: #666;
}
 

.custom-confirm-button:hover {
    background-color: #0056b3;
}

.custom-confirm-cancel-button {
    background-color: #dc3545;
}

.CustomHumuberger {}

.CustomHumuberger div {
    height: 4px;
    content: " ";
    background-color: #fff;
    width: 30px;
    margin-top: 2px;
}

.stckbarNavBar {
    z-index: 1 !important;
}

.stockNavmenuDropdown {
    z-index: 200  !important;
}

.menuHLight{
    color: #ff9d00;
    font-size: 30px;
    margin-bottom: 0px;
}

.imgrounded{
    height: 600px;
    width: 600px;
    left: -70px;
    top: -70px;
    background-image: url('../src/components/images/login/loginbg.jpg');
    background-size: cover;
    border-radius: 100%;
    background-repeat: no-repeat;
    border: 10px solid #fff;
    box-shadow: 0 0 25px #000;
    position: absolute;
}



/* ================================ menu Levels and New Nav Styles =========================== */


.lightBg{
    background-color: #ffffff;
    border: 1px solid #72aef3;
    box-shadow: 0 0 4px #000;
}
.listItems:hover{
    box-shadow: 0 0 4px #0075f2;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.underlineMenu{
    border-bottom: 2px solid #fff !important;
    
}

.roundNumber{
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    place-content: center;
    border-radius: 100%;
    background-color: rgb(213, 206, 194);
    z-index: 2;
    position: relative;
}
.numberParent{
    position: relative;
}
.underlayLine{
    position: absolute;
    border: 4px solid #6c757a;
    z-index: 1;
    top: 40%;
}
.bgRed{
    background-color: orange;
}
.startProcess{
    background-color: #dedcd4;
    border: 1px solid orange    ;
}



 